.conect {
  width: 206px;
  height: 80px;
  font-style: 14px;
}
@media screen and (min-width: 768px) {
  .conect {
    margin-left: 165px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .conect {
    margin-left: 70px;
    margin-bottom: 0;
  }
}
.foter-con {
  display: flex;
  align-items: baseline;
}
.conect-social {
  font-style: 14px;
  color: var(--adres-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .conect-social {
    text-align: left;
  }
}
.description__tool {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  margin-bottom: 30px;
}
.texno-link {
  display: block;
  text-decoration: none;
}
