.div-footer-social {
  display: flex;
  flex-direction: column;
  color: var(--adres-color);
  padding-left: 93px;
}
.div-mail-b {
  color: var(--adres-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.email-social {
  width: 358px;
  height: 50px;
  color: var(--adres-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(47, 48, 58, 1);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  &::placeholder {
    padding-left: 16px;
  }
}

.butn-email {
  position: absolute;
  top: 107px;
  left: 1120px;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  width: 200px;
  height: 50px;
  background-color: var(--primery-text-color);
  margin-left: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.mail-bt {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  width: 143px;
  height: 30px;
  margin-left: 20px;
}
