.description-foto {
  position: relative;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  padding: 40px;
  background: #ffffff;
}
.modal-form-head {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  margin-bottom: 12px;
}
.model-close-butn {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  padding-top: 5px;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon-x {
  width: 18px;
  height: 18px;
  cursor: pointer;
  &:focus,
  &:hover {
    fill: var(--primery-text-color);
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  box-sizing: border-box;
  cursor: pointer;
  &:focus {
    border-color: var(--primery-text-color);
    outline: none;
  }
  &:focus + .modal-form-icon {
    fill: rgba(33, 150, 243, 1);
  }
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 6px;
}

.modal-form-field {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 1);
}
.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  &:focus {
    border-color: var(--primery-text-color);
    outline: none;
  }
}
.modal-form-policy-link {
  display: inline;
  color: var(--primery-text-color);
  width: 100%;
}

.modal-form-sheckbox-policy {
  font-size: 14px;

  color: #757575;
  &::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    border: 1px solid rgba(33, 33, 33, 1);
    cursor: pointer;
    margin-right: 12px;
  }
}
.modal-form-checkbox {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--adres-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:checked + .modal-form-sheckbox-policy::before {
    background-color: var(--primery-text-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: transparent;
    background-image: url("../images/checked.svg");
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-form-btn {
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
