.team {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background-color: rgba(245, 244, 250, 1);
}
.team-photos {
  width: 270px;
  background-color: var(--adres-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.team-list {
  display: flex;
  justify-content: center;
}

.team-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--text-one-color);
  text-align: center;
  margin-bottom: 50px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--text-one-color);
}
.team-position {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--text-two-color);
  margin-bottom: 16px;
}
.logo-header {
  color: var(--text-one-color);
}
